@import '/src/styles/variables';

:host{
  display: flex;
  flex-direction: column;
  background-color: #00474b;
  width: 340px;
  padding: 35px;
  border-radius: 30px;
  font-weight: 400;
  @media(max-width: 967px) {
    width: unset;
    padding: 25px;
    border-radius: 15px;
  }
}
app-amount-summary{
  margin-bottom: 30px;
  @media(max-width: 967px) {
    margin-bottom: 10px;
    &:first-child{
      margin-top: 20px;
    }
  }
}
button{
  margin-top: auto;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: $primary;
  color: $very_dark;
  height: 48px;
  text-transform: uppercase;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  font-weight: 600;
  @media(max-width: 967px) {
    margin-top: 20px;
  }
}

button:active {
  background-color: $primary-light;
  color: $very_dark;
}
