@import '/src/styles/variables';

.amount-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.label-container{
  margin-top: 8px;
  display: flex;
  flex-direction: column;
}
.amount-label{
  color:$white;
}

.amount-sub-label{
  color: $dark_grayish1;
}

.amount{
  font-weight: 600;
  color: $primary;
  font-size: 48px;
}

